* {
  margin: 0;
}
body {
  font-family: "Raleway", sans-serif;
}
a {
  display: block;
  text-decoration: none;
  color: #000;
}
a:hover {
  text-decoration: none;
  color: #000 !important;
}
.container {
  padding: 0 20px;
  margin-top: 20px;
}

.search h1 {
  margin-top: 20px;
  font-weight: 500;
}
.search small {
  margin-top: 10px;
}

.loupe2 {
  display: none;
}

.search-interface {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-bottom: 20px;
  max-width: 710px;
  margin-top: 10px;
}

.search-interface i {
  font-size: 20px;
  min-width: 36px;
  min-height: 36px;
  background-color: #f2f2f2;
  display: block;
  padding: 15px 5px 0px 5px;
  justify-content: center;
  align-items: center;
  border-radius: 11px 0 0 11px;
}

.search-interface input {
  border-left: 0;
  border-right: 0;
  border-top: #f2f2f2 1px solid;
  border-bottom: #f2f2f2 1px solid;
  width: 18%;
}

.rechercher {
  width: 13%;
  background-color: #0065fc;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 12px;
  border-radius: 0 11px 11px 0;
}

.loupe {
  display: none;
}
/* NAVBAR */
nav {
  margin: auto;
  width: 98%;
  max-width: 1920px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo {
  width: 100px;
  height: 100%;
}

.menu {
  display: flex;
}

.menu > p {
  width: 130px;
  display: flex;
  justify-content: center;
  font-weight: 200;
}

a {
  text-decoration: none;
}
a:hover {
  color: #0065fc;
}

a:visited {
  color: black;
}
.menu > p:hover:before {
  content: "";
  background: #0065fc;
  width: 150px;
  height: 5px;
  top: 0;
  position: absolute;
}

/* HEADER */
h1 {
  font-size: 15px;
}

small {
  font-weight: 200;
  font-size: 11px;
}

form {
  margin-top: 25px;
}
.fa-search {
  display: none;
}

.search-bar {
  display: flex;
}

.fa-map-marker-alt {
  font-size: 13px;
  width: 40px;
  height: 26px;
  text-align: center;
  padding-top: 14px;
  background-color: #f2f2f2;
  border-radius: 12px 0 0 12px;
}
.input-search {
  font-size: 12px;
  height: 40px;
  border-radius: 0;
  border: 1px solid #f2f2f2;
  padding-left: 10px;
}

.btn-search {
  font-size: 12px;
  color: white;
  height: 40px;
  text-align: center;
  background-color: #0065fc;
  border-radius: 0 12px 12px 0;
  border: 0;
  padding: 0 15px;
}

.filtres {
  margin: 15px 0;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
}
.all-filtres {
  display: flex;
  flex-direction: row;
}

.logo-filtre {
  font-size: 13px;
  color: #0065fc;
  width: 29px;
  height: 21px;
  text-align: center;
  padding-top: 9px;
  background-color: #deebff;
  border: 1px solid #deebff;
  border-radius: 50%;
}

.logo-filtre:hover {
  background-color: #0065fc;
  border: 1px solid #0065fc;
  color: #deebff;
}

.btn-filtre {
  border: 1px solid #dcdbdb;
  border-radius: 50px 50px 50px 50px;
  margin-left: 20px;
}

.btn-filtre > span {
  margin: 0 15px 0 10px;
  font-weight: 600;
}

.btn-filtre > i {
  margin: -1px;
}
.all-info {
  display: flex;
  margin-bottom: 20px;
}
.fa-info {
  font-size: 8px;
  color: #0065fc;
  width: 15px;
  height: 11px;
  text-align: center;
  padding-top: 3px;
  border: 0.5px solid #dcdbdb;
  border-radius: 50%;
}
.text-info {
  padding-left: 10px;
}

/* HEBERGEMENT */
.all-hebergements {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.section-hebergements {
  background-color: #f2f2f2;
  border-radius: 18px;
  padding: 10px 15px 10px 15px;
  display: flex;
  flex-direction: column;
  flex-basis: 64.5%;
}
.section-content {
  margin: 0 20px;
}
.section-top {
  margin-top: 15px;
  padding-bottom: 20px;
  font-weight: bold;
}
.section-bottom > p {
  font-size: 14px;
  margin: 0 !important;
}
.all-sections-cards {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.herbergement-column {
  width: 31%;
}

.card-section {
  display: block;
  background-color: white;
  border-radius: 16px;
  padding: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 35px;
}
.card-section-text {
  padding: 5px;
}
.section-picture {
  height: 81px;
  width: 100%;
  max-height: 50%;
  border-radius: 15px 0 0 15px;
  object-fit: cover;
}
.section-picture > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 14px 14px 0 0;
}

.card-section:hover {
  box-shadow: 0 0 15px rgba(10, 13, 221, 0.329);
}

h2 {
  font-size: 12px;
  margin: 0;
}

.card-section-text > p {
  font-weight: 300;
  font-size: 10px;
  margin: 4px 0 4px 0;
}

.range-section {
  display: flex;
  align-items: start;
}
.fa-star {
  font-size: 8px;
}
.blue {
  color: #0065fc;
}
.gray {
  color: #dddada;
}

/* POPULAIRE */
aside {
  background-color: #f2f2f2;
  border-radius: 18px;

  display: flex;
  flex-direction: column;
  flex-basis: 30%;
}
.aside-content {
  display: flex;
  flex-direction: column;
}
aside span {
  margin: 25px 15px 15px 0px;
  font-weight: bold;
}

.fa-chart-line {
  margin-top: 15px;
}
.aside-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 77%;
  margin: auto;
  padding-bottom: 10px;
}

.all-sections-cards-aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  width: 80%;
}
.card-aside {
  display: flex;
  background-color: white;
  border-radius: 16px;
  margin-bottom: 30px;
  padding: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.card-aside:hover {
  box-shadow: 0 0 15px rgba(43, 8, 245, 0.2);
}
.card-aside-text {
  padding: 10px 0 5px 15px;
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.aside-picture {
  height: 98px;
  width: 112px;
  max-width: 44%;
  border-radius: 15px 0 0 15px;
  object-fit: cover;
}
.aside-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 14px 0 0 14px;
}
.card-aside-text > div > p {
  font-weight: 300;
  font-size: 12px;
  margin: 4px 0 4px 0;
}
.star-aside {
  font-size: 9px;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* ACTIVITY */
/* Activités */
.activities h2 {
  font-size: 15px;
  padding: 31px 10px 16px 10px;
}

.activities-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.vieux-port,
.calanques {
  width: 22%;
  border-radius: 20px;
  box-shadow: 0 0 5px #b1b1b1;
  height: 320px;
}

.vieux-port img,
.calanques img {
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  width: 100%;
  height: 87.5%;
}

.pomegues-frioul,
.dame-longchamp {
  width: 22%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pomegues-frioul a,
.dame-longchamp a {
  display: block;
}

.fort-pomegues,
.frioul,
.notre-dame,
.longchamp {
  border-radius: 20px;
  box-shadow: 0 0 5px #b1b1b1;
}

.fort-pomegues img,
.frioul img,
.notre-dame img,
.longchamp img {
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  width: 100%;
}

.fort-pomegues {
  height: 162px;
}

.frioul {
  height: 130px;
}

.fort-pomegues img {
  height: 77%;
}

.frioul img {
  height: 70%;
}

.notre-dame {
  height: 146px;
}

.longchamp {
  height: 146px;
}

.notre-dame img {
  height: 73.5%;
}

.longchamp img {
  height: 73.5%;
}

.activities-cards a h3 {
  font-size: 11px;
  font-weight: 500;
  padding: 10px 10px 10px 10px;
}

footer {
  margin-top: 40px;
  background-color: rgb(242 242 242);
  display: flex;
  align-items: start;
  justify-content: space-between;
  bottom: 0;
}

footer h2 {
  padding-bottom: 18px;
}

.footer-category {
  margin: 0 6%;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
  padding: 0;
}

.footer-category li {
  font-weight: 200;
  font-size: 12px;
  margin-bottom: 10px;
}

.footer-category a {
  padding: 2px 0;
}

/* MEDIA QUERIRES */
/* Desktop */
@media screen and (min-width: 992px) {
  .fa-search {
    display: none;
  }
}

/* Tablette */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .fa-search {
    display: none;
  }
  .all-hebergements {
    flex-wrap: wrap;
  }
  .section-hebergements {
    margin-bottom: 20px;
  }
  .card-aside-text {
    margin-left: 50px;
  }
  #coeur-de-leau {
    height: 130%;
  }
  .aside-picture img {
    width: 160%;
  }
}

/* Iphone 8 */
@media screen and (min-width: 375px) and (max-width: 767px) {
  .loupe {
    display: unset;
    border: 1px solid #f2f2f2;
    border-left: none;
    border-right: none;
    background-color: white;
    border-radius: 0 11px 11px 0;
  }

  .loupe i {
    color: white;
    min-width: 35px;
    min-height: 35px;
    border-radius: 11px;
    background-color: #0065fc;
    font-size: 12px;
    align-items: center;
    justify-content: center;
  }
  .rechercher {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .line {
    content: "";
    background: #f2f2f2;
    width: 100%;
    height: 3px;
    position: absolute;
    top: 80px;
    z-index: -1;
  }
  .menu {
    width: 95%;
    display: flex;
    justify-content: space-between;
  }
  .menu a {
    font-weight: 500;
  }
  .menu a:active {
    color: #0065fc;
  }
  .menu > p:active:before {
    content: "";
    background: #0065fc;
    width: 50%;
    height: 3px;
    top: 80px;
    position: absolute;
    z-index: 0;
  }

  .search h1 {
    font-size: 22px;
    font-weight: 600;
    padding-top: 40px;
    margin-left: 12px;
  }
  .search small {
    font-size: 17px;
    display: block;
    font-weight: 300;
  }

  .seach-bar {
    display: flex;
    align-items: center;
    flex-grow: 1;
    width: 100%;
  }
  .input-search {
    width: 110%;
  }
  .btn-search {
    display: none;
  }

  .all-filtres {
    flex-wrap: wrap;
  }
  .fa-search {
    font-size: 22px;
    text-align: center;
    color: white;
    height: 40px;
    max-height: 40px;
    text-align: center;
    background-color: #0065fc;
    border-radius: 12px;
    border: 0;
    padding: 10px 10px 0 10px;
  }
  .search-interface {
    padding: 20px 0;
    margin-left: 12px;
  }
  .search-interface input {
    width: 100%;
    padding-left: 10px;
    font-size: 16px;
    color: black;
  }
  .search-interface i {
    font-size: 25px;
    min-height: 41px;
    min-width: 51px;
    padding: 17px 5px 0px 5px;
  }
  .filtres {
    flex-direction: column;
    align-items: unset;
  }
  .filtre-title {
    margin: 0 0 12px 12px;
    font-size: 20px;
    font-weight: 600;
  }
  .filtre-list {
    display: flex;
    flex-wrap: wrap;
  }
  aside {
    margin-top: 40px;
  }
  .section-hebergements {
    flex-basis: 100%;
  }
  .all-hebergements {
    display: flex;
    flex-direction: column-reverse;
  }

  .all-info {
    display: flex;
    margin-left: 12px;
    margin-bottom: 0px;
    align-items: center;
  }
  .info-logo {
    font-size: 18px;
    display: block;
  }
  .fa-info {
    font-size: 14px;
    width: 27px;
    height: 21px;
    padding-top: 7px;
  }
  .filtres {
    font-size: 18px;
  }

  .btn-filtre {
    border: 3px solid #dcdbdb;
    margin: 8px 0px 8px 12px;
  }
  .logo-filtre {
    font-size: 17px;
    width: 41px;
    height: 31px;
    padding-top: 14px;
  }
  .btn-filtre > i {
    margin: -3px;
  }
  .search small {
    font-size: 18px;
    margin-left: 12px;
  }

  .container {
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  /* POPULAIRE */
  aside {
    border-radius: 0px;
    width: 100%;
  }

  .fa-chart-line {
    margin-top: 15px;
  }
  .aside-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    margin: auto;
  }
  .card-aside {
    margin-bottom: 10px;
  }
  .all-sections-cards-aside {
    width: 90%;
  }
  .section-hebergements {
    background-color: white;
    padding: 0;
  }
  .section-top {
    margin-left: 10px;
  }

  .all-sections-cards {
    flex-direction: column;
  }
  .all-hebergements {
    width: 100%;
  }
  .herbergement-column {
    width: 100%;
  }
  .section-content {
    margin: 0 10px;
  }
  .card-section {
    margin-bottom: 10px;
  }

  main {
    display: unset;
  }
  .activities-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pomegues-frioul,
  .dame-longchamp {
    display: flex;
    align-items: center;
    width: 90%;
  }

  .vieux-port,
  .calanques {
    width: 90%;
    height: 150px;
    margin-bottom: 10px;
  }

  .fort-pomegues,
  .frioul,
  .longchamp,
  .notre-dame {
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
  }

  .vieux-port img,
  .calanques img,
  .fort-pomegues img,
  .notre-dame img,
  .longchamp img {
    height: 80%;
  }

  .activities-cards a h3 {
    padding: unset;
    padding-left: 10px;
    padding-top: 5px;
  }

  .activities h2 {
    padding: 20px 10px 10px 20px;
  }

  footer {
    flex-direction: column;
  }
  .footer-category {
    padding: 10px 0 0 0;
  }
}
