body {
  font-family: Karla, sans-serif;
}
.container {
  padding: 0 50px;
}
nav {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo {
  width: 100px;
  height: 100%;
}

.menu {
  display: flex;
}

.menu > p {
  width: 150px;
  display: flex;
  justify-content: center;
  font-weight: 200;
}

a {
  text-decoration: none;
}
a:hover {
  color: #0057ff;
}

a:visited {
  color: black;
}
.menu > p:hover:before {
  content: "";
  background: #0057ff;
  width: 150px;
  height: 5px;
  top: 0;
  position: absolute;
}

h1 {
  font-size: 15px;
}

small {
  font-weight: 200;
  font-size: 11px;
}

form {
  margin-top: 25px;
}

.search-bar {
  display: flex;
}

.fa-map-marker-alt {
  font-size: 13px;
  width: 40px;
  height: 26px;
  text-align: center;
  padding-top: 14px;
  background-color: #f2f2f2;
  border-radius: 12px 0 0 12px;
}
.input-search {
  font-size: 12px;
  height: 40px;
  border-radius: 0;
  border: 1px solid #f2f2f2;
  padding-left: 10px;
}

.btn-search {
  font-size: 12px;
  color: white;
  height: 40px;
  text-align: center;
  background-color: #0057ff;
  border-radius: 0 12px 12px 0;
  border: 0;
  padding: 0 15px;
}

.filtres {
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
  width: 650px;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
}

.logo-filtre {
  font-size: 13px;
  color: #0057ff;
  width: 29px;
  height: 21px;
  text-align: center;
  padding-top: 9px;
  background-color: #e3f1ff;
  border: 1px solid #e3f1ff;
  border-radius: 50%;
}

.btn-filtre {
  border: 1px solid #dcdbdb;
  border-radius: 50px 50px 50px 50px;
}
.btn-filtre > span {
  margin: 0 15px 0 10px;
}

.fa-info {
  font-size: 8px;
  color: #0057ff;
  width: 15px;
  height: 11px;
  text-align: center;
  padding-top: 3px;
  border: 0.5px solid #dcdbdb;
  border-radius: 50%;
}
.text-info {
  padding-left: 10px;
}

.section-hebergements {
  background-color: #f2f2f2;
  border-radius: 18px;
  padding: 10px 15px 10px 15px;
  display: flex;
  flex-direction: column;
  max-width: 639px;
}
.section-hebergements > div > h1 {
  margin: 25px 0 0 20px;
}
.section-bottom > p {
  font-size: 12px;
  margin: 18px 0 23px 20px;
}
.all-sections-cards {
  display: flex;
  flex-wrap: wrap;
}

.card-section {
  margin: 15px;
  max-width: 173px;
  height: 135px;
  background-color: white;
  border-radius: 16px;
  padding: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.card-section-text {
  padding: 5px;
}
.section-picture > img {
  width: 173px;
  height: 78px;
  object-fit: cover;
  border-radius: 14px 14px 0 0;
}

h2 {
  font-size: 12px;
  margin: 0;
}

.card-section-text > p {
  font-weight: 300;
  font-size: 10px;
  margin: 4px 0 4px 0;
}

.range-section {
  display: flex;
  align-items: start;
}
.fa-star {
  font-size: 8px;
}
.blue {
  color: #0057ff;
}
.gray {
  color: #dddada;
}

aside {
  background-color: #f2f2f2;
  border-radius: 18px;
  padding: 10px 15px 0 15px;
  display: flex;
  flex-direction: column;
  max-width: 310px;
}
aside > div > h1 {
  margin: 25px 0 0 20px;
}

.fa-chart-line {
  margin: 25px 20px 0 20px;
}
.aside-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-aside {
  display: flex;
  margin: 15px;
  width: 270px;
  height: 103px;
  background-color: white;
  border-radius: 16px;
  padding: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.card-aside-text {
  padding: 10px 0 5px 15px;
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.aside-picture > img {
  width: 91px;
  height: 103px;
  object-fit: cover;
  border-radius: 14px 0 0 14px;
}
.card-aside-text > div > p {
  font-weight: 300;
  font-size: 12px;
  margin: 4px 0 4px 0;
}
.star-aside {
  font-size: 9px;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
