body {
  font-family: Karla, sans-serif;
}
.container {
  padding: 0 20px;
}

/* NAVBAR */
nav {
  padding: 20px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo {
  width: 100px;
  height: 100%;
}

.menu {
  display: flex;
}

.menu > p {
  width: 130px;
  display: flex;
  justify-content: center;
  font-weight: 200;
}

a {
  text-decoration: none;
}
a:hover {
  color: #0057ff;
}

a:visited {
  color: black;
}
.menu > p:hover:before {
  content: "";
  background: #0057ff;
  width: 150px;
  height: 5px;
  top: 0;
  position: absolute;
}

/* HEADER */
h1 {
  font-size: 15px;
}

small {
  font-weight: 200;
  font-size: 11px;
}

form {
  margin-top: 25px;
}

.search-bar {
  display: flex;
}

.fa-map-marker-alt {
  font-size: 13px;
  width: 40px;
  height: 26px;
  text-align: center;
  padding-top: 14px;
  background-color: #f2f2f2;
  border-radius: 12px 0 0 12px;
}
.input-search {
  font-size: 12px;
  height: 40px;
  border-radius: 0;
  border: 1px solid #f2f2f2;
  padding-left: 10px;
}

.btn-search {
  font-size: 12px;
  color: white;
  height: 40px;
  text-align: center;
  background-color: #0057ff;
  border-radius: 0 12px 12px 0;
  border: 0;
  padding: 0 15px;
}

.filtres {
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
  width: 650px;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
}

.logo-filtre {
  font-size: 13px;
  color: #0057ff;
  width: 29px;
  height: 21px;
  text-align: center;
  padding-top: 9px;
  background-color: #e3f1ff;
  border: 1px solid #e3f1ff;
  border-radius: 50%;
}

.logo-filtre:hover {
  background-color: #0057ff;
  border: 1px solid #0057ff;
  color: #e3f1ff;
}

.btn-filtre {
  border: 1px solid #dcdbdb;
  border-radius: 50px 50px 50px 50px;
}

.btn-filtre > span {
  margin: 0 15px 0 10px;
}

.btn-filtre > i {
  margin: -1px;
}

.fa-info {
  font-size: 8px;
  color: #0057ff;
  width: 15px;
  height: 11px;
  text-align: center;
  padding-top: 3px;
  border: 0.5px solid #dcdbdb;
  border-radius: 50%;
}
.text-info {
  padding-left: 10px;
}

/* HEBERGEMENT */

.section-hebergements {
  background-color: #f2f2f2;
  border-radius: 18px;
  padding: 10px 15px 10px 15px;
  display: flex;
  flex-direction: column;
  flex-basis: 66.5%;
  width: 66.5%;
}
.section-hebergements > div > h1 {
  margin: 25px 0 0 20px;
}
.section-bottom > p {
  font-size: 12px;
  margin: 18px 0 23px 20px;
}
.all-sections-cards {
  display: flex;
  justify-content: space-between;
}

.herbergement-column {
  width: 35%;
}

.card-section {
  display: block;
  margin: 15px;
  height: 135px;
  background-color: white;
  border-radius: 16px;
  padding: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.card-section-text {
  padding: 5px;
}
.section-picture > img {
  width: 100%;
  height: 78px;
  object-fit: cover;
  border-radius: 14px 14px 0 0;
}

.card-section:hover {
  box-shadow: 0 0 15px rgba(10, 13, 221, 0.329);
}

h2 {
  font-size: 12px;
  margin: 0;
}

.card-section-text > p {
  font-weight: 300;
  font-size: 10px;
  margin: 4px 0 4px 0;
}

.range-section {
  display: flex;
  align-items: start;
}
.fa-star {
  font-size: 8px;
}
.blue {
  color: #0057ff;
}
.gray {
  color: #dddada;
}

/* POPULAIRE */
aside {
  background-color: #f2f2f2;
  border-radius: 18px;

  display: flex;
  flex-direction: column;
  flex-basis: 26%;
  /* align-items: center; */
}
.aside-content {
  display: flex;
  flex-direction: column;
}
aside h1 {
  margin: 25px 15px 15px 0px;
}

.fa-chart-line {
  margin-top: 15px;
}
.aside-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin: auto;
}

.all-sections-cards-aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  width: 80%;
}
.card-aside {
  /* margin: auto; */
  display: flex;
  background-color: white;
  border-radius: 16px;
  margin-bottom: 40px;
  padding: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.card-aside-text {
  padding: 10px 0 5px 15px;
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.aside-picture {
  height: 100px;
  width: 112px;
  max-width: 44%;
  border-radius: 15px 0 0 15px;
  object-fit: cover;
}
.aside-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 14px 0 0 14px;
}
.card-aside-text > div > p {
  font-weight: 300;
  font-size: 12px;
  margin: 4px 0 4px 0;
}
.star-aside {
  font-size: 9px;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* ACTIVITY */
.activite-section {
  margin-top: 30px;
  height: 30%;
  width: 100%;
}

.all-activity-cards {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 300px;
  position: relative;
}

.all-activity-cards a:hover {
  box-shadow: 0 0 15px rgba(43, 8, 245, 0.2);
}
.column-activity {
  width: 22%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.column-activity a {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  width: 100%;
}
h3 {
  font-size: 11px;
  margin-left: 15px;
  padding-top: 5px;
}

.container-activity-text {
  background-color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 0 0 12px 12px;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
}

/* 1st activity */
.container-port {
  background: url(./images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
  height: 100%;
}

/* 2nd activity */
.container-fort {
  background: url(./images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
  height: 50%;
}

/* 3rd activity */
.container-frioul {
  background: url(./images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
  height: 38%;
}

/* 4th activity */
.container-calanques {
  background: url(./images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
  height: 100%;
}
/* 5th activity */
.container-ND {
  background: url(./images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg);
  height: 45%;
}
/* 6th activity */
.container-longchamp {
  background: url(./images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
  height: 48%;
}

footer {
  margin-top: 30px;
  background-color: rgb(242 242 242);
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 30px;
  bottom: 0;
}

.footer-category {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.footer-category li {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin: 5px 0;
  width: 100%;
}

/* Iphone 8 */
@media screen and (min-width: 375px) and (max-width: 767px) {
}

/* Tablette */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .section-hebergements {
    flex-basis: 100%;
  }
  aside {
    margin-top: 15px;
    flex-basis: 100%;
    padding-bottom: 20px;
  }
  .all-sections-cards-aside {
    flex-direction: row;
  }
  .card-aside {
    height: 75%;
  }
}
