body {
  font-family: "Raleway", sans-serif;
}
.container {
  padding: 0 20px;
}

.loupe2 {
  display: none;
}

.search-interface {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-bottom: 20px;
}

.search-interface i {
  font-size: 12px;
  min-width: 36px;
  min-height: 36px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 11px 0 0 11px;
}

.search-interface input {
  border-left: 0;
  border-right: 0;
  border-top: #f2f2f2 1px solid;
  border-bottom: #f2f2f2 1px solid;
  width: 18%;
}

.rechercher {
  width: 10%;
  background-color: #0065fc;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 11px;
  border-radius: 0 11px 11px 0;
}

.loupe {
  display: none;
}
/* NAVBAR */
nav {
  margin: auto;
  width: 98%;
  max-width: 1920px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo {
  width: 100px;
  height: 100%;
}

.menu {
  display: flex;
}

.menu > p {
  width: 130px;
  display: flex;
  justify-content: center;
  font-weight: 200;
}

a {
  text-decoration: none;
}
a:hover {
  color: #0065fc;
}

a:visited {
  color: black;
}
.menu > p:hover:before {
  content: "";
  background: #0065fc;
  width: 150px;
  height: 5px;
  top: 0;
  position: absolute;
}

/* HEADER */
h1 {
  font-size: 15px;
}

small {
  font-weight: 200;
  font-size: 11px;
}

form {
  margin-top: 25px;
}
.fa-search {
  display: none;
}

.search-bar {
  display: flex;
}

.fa-map-marker-alt {
  font-size: 13px;
  width: 40px;
  height: 26px;
  text-align: center;
  padding-top: 14px;
  background-color: #f2f2f2;
  border-radius: 12px 0 0 12px;
}
.input-search {
  font-size: 12px;
  height: 40px;
  border-radius: 0;
  border: 1px solid #f2f2f2;
  padding-left: 10px;
}

.btn-search {
  font-size: 12px;
  color: white;
  height: 40px;
  text-align: center;
  background-color: #0065fc;
  border-radius: 0 12px 12px 0;
  border: 0;
  padding: 0 15px;
}

.filtres {
  margin: 15px 0;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
}
.all-filtres {
  display: flex;
  flex-direction: row;
}

.logo-filtre {
  font-size: 13px;
  color: #0065fc;
  width: 29px;
  height: 21px;
  text-align: center;
  padding-top: 9px;
  background-color: #deebff;
  border: 1px solid #deebff;
  border-radius: 50%;
}

.logo-filtre:hover {
  background-color: #0065fc;
  border: 1px solid #0065fc;
  color: #deebff;
}

.btn-filtre {
  border: 1px solid #dcdbdb;
  border-radius: 50px 50px 50px 50px;
  margin-left: 20px;
}

.btn-filtre > span {
  margin: 0 15px 0 10px;
  font-weight: 600;
}

.btn-filtre > i {
  margin: -1px;
}

.fa-info {
  font-size: 8px;
  color: #0065fc;
  width: 15px;
  height: 11px;
  text-align: center;
  padding-top: 3px;
  border: 0.5px solid #dcdbdb;
  border-radius: 50%;
}
.text-info {
  padding-left: 10px;
}

/* HEBERGEMENT */
.all-hebergements {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.section-hebergements {
  background-color: #f2f2f2;
  border-radius: 18px;
  padding: 10px 15px 10px 15px;
  display: flex;
  flex-direction: column;
  flex-basis: 64.5%;
}
.section-content {
  margin: 0 20px;
}
.section-top h1 {
  margin-top: 25px;
}
.section-bottom > p {
  font-size: 12px;
  margin: 0 !important;
}
.all-sections-cards {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.herbergement-column {
  width: 31%;
}

.card-section {
  display: block;
  background-color: white;
  border-radius: 16px;
  padding: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 35px;
}
.card-section-text {
  padding: 5px;
}
.section-picture {
  height: 81px;
  width: 100%;
  max-height: 50%;
  border-radius: 15px 0 0 15px;
  object-fit: cover;
}
.section-picture > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 14px 14px 0 0;
}

.card-section:hover {
  box-shadow: 0 0 15px rgba(10, 13, 221, 0.329);
}

h2 {
  font-size: 12px;
  margin: 0;
}

.card-section-text > p {
  font-weight: 300;
  font-size: 10px;
  margin: 4px 0 4px 0;
}

.range-section {
  display: flex;
  align-items: start;
}
.fa-star {
  font-size: 8px;
}
.blue {
  color: #0065fc;
}
.gray {
  color: #dddada;
}

/* POPULAIRE */
aside {
  background-color: #f2f2f2;
  border-radius: 18px;

  display: flex;
  flex-direction: column;
  flex-basis: 30%;
}
.aside-content {
  display: flex;
  flex-direction: column;
}
aside h1 {
  margin: 25px 15px 15px 0px;
}

.fa-chart-line {
  margin-top: 15px;
}
.aside-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin: auto;
}

.all-sections-cards-aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  width: 80%;
}
.card-aside {
  display: flex;
  background-color: white;
  border-radius: 16px;
  margin-bottom: 30px;
  padding: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.card-aside:hover {
  box-shadow: 0 0 15px rgba(43, 8, 245, 0.2);
}
.card-aside-text {
  padding: 10px 0 5px 15px;
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.aside-picture {
  height: 98px;
  width: 112px;
  max-width: 44%;
  border-radius: 15px 0 0 15px;
  object-fit: cover;
}
.aside-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 14px 0 0 14px;
}
.card-aside-text > div > p {
  font-weight: 300;
  font-size: 12px;
  margin: 4px 0 4px 0;
}
.star-aside {
  font-size: 9px;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* ACTIVITY */
.activite-section {
  margin-top: 30px;
  height: 30%;
  width: 100%;
}

.all-activity-cards {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 300px;
  position: relative;
}

.all-activity-cards a:hover {
  box-shadow: 0 0 15px rgba(43, 8, 245, 0.2);
}
.column-activity-1 {
  width: 22%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.column-activity-2 {
  width: 22%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.column-activity-3 {
  width: 22%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.column-activity-4 {
  width: 22%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.all-activity-cards a {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  width: 100%;
}

h3 {
  font-size: 11px;
  margin-left: 15px;
  padding-top: 5px;
}

.container-activity-text {
  background-color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 0 0 12px 12px;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
}

/* 1st activity */
.container-port {
  background: url(./images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
  height: 100%;
}

/* 2nd activity */
.container-fort {
  background: url(./images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
  height: 50%;
}

/* 3rd activity */
.container-frioul {
  background: url(./images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
  height: 38%;
}

/* 4th activity */
.container-calanques {
  background: url(./images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
  height: 100%;
}
/* 5th activity */
.container-ND {
  background: url(./images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg);
  height: 45%;
}
/* 6th activity */
.container-longchamp {
  background: url(./images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
  height: 48%;
}

footer {
  margin-top: 40px;
  background-color: rgb(242 242 242);
  display: flex;
  align-items: start;
  justify-content: space-between;
  bottom: 0;
}

.footer-category {
  margin: 0 6%;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
  padding: 0;
}

.footer-category li {
  font-weight: 200;
  font-size: 12px;
  margin-bottom: 10px;
}

.footer-category a {
  padding: 2px 0;
}

/* MEDIA QUERIRES */
/* Desktop */
@media screen and (min-width: 992px) {
  .fa-search {
    display: none;
  }
}

/* Tablette */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .fa-search {
    display: none;
  }
  .section-hebergements {
    flex-basis: 100%;
  }
  aside {
    margin-top: 15px;
    flex-basis: 100%;
    padding-bottom: 20px;
  }
  .all-sections-cards-aside {
    width: 55%;
  }
  .card-aside-text {
    margin-left: 70px;
  }
  .aside-picture img {
    width: 160%;
  }
}

/* Iphone 8 */
@media screen and (min-width: 375px) and (max-width: 767px) {
  .loupe {
    display: unset;
    border: 1px solid #f2f2f2;
    border-left: none;
    border-right: none;
    background-color: white;
    border-radius: 0 11px 11px 0;
  }

  .loupe i {
    color: white;
    min-width: 35px;
    min-height: 35px;
    border-radius: 11px;
    background-color: #0065fc;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .rechercher {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .line {
    content: "";
    background: #f2f2f2;
    width: 100%;
    height: 3px;
    position: absolute;
    top: 120px;
    z-index: -1;
  }
  .menu {
    width: 95%;
    display: flex;
    justify-content: space-between;
  }
  .menu a {
    font-weight: 500;
  }
  .menu a:active {
    color: #0065fc;
  }
  .menu > p:active:before {
    content: "";
    background: #0065fc;
    width: 135px;
    height: 3px;
    top: 120px;
    position: absolute;
    z-index: 0;
  }

  .search h1 {
    font-size: 22px;
    padding-top: 20px;
    margin-left: 12px;
  }
  .search small {
    font-size: 17px;
    display: block;
    font-weight: 300;
    margin-bottom: 12px;
  }

  /* .fa-map-marker-alt {
    width: 50px;

    height: 26px;
    text-align: center;
    padding-top: 14px;
    background-color: #f2f2f2;
    border-radius: 12px 0 0 12px;
  } */
  .seach-bar {
    display: flex;
    align-items: center;
    flex-grow: 1;
    width: 100%;
  }
  .input-search {
    width: 110%;
  }
  .btn-search {
    display: none;
  }

  .all-filtres {
    flex-wrap: wrap;
  }
  .fa-search {
    font-size: 22px;
    text-align: center;
    color: white;
    height: 40px;
    max-height: 40px;
    text-align: center;
    background-color: #0065fc;
    border-radius: 12px;
    border: 0;
    padding: 10px 10px 0 10px;
  }
  .search-interface {
    padding: 20px 0;
    margin-left: 12px;
  }
  .search-interface input {
    width: 100%;
    padding-left: 10px;
    font-size: 16px;
    color: black;
  }
  .search-interface i {
    font-size: 20px;
    min-height: 50px;
    min-width: 60px;
  }
  .filtres {
    flex-direction: column;
    align-items: unset;
  }
  .filtre-title {
    margin: 0 0 12px 12px;
    font-size: 20px;
    font-weight: 600;
  }
  .filtre-list {
    display: flex;
    flex-wrap: wrap;
  }
  aside {
    margin-top: 40px;
  }
  .section-hebergements {
    flex-basis: 100%;
  }
  .all-hebergements {
    display: flex;
    flex-direction: column-reverse;
  }

  .all-info {
    display: flex;
    margin-left: 12px;
  }
  .info-logo {
    font-size: 18px;
    display: block;
  }
  .fa-info {
    font-size: 14px;
    width: 27px;
    height: 21px;
    padding-top: 7px;
  }
  .filtres {
    font-size: 18px;
  }

  .btn-filtre {
    border: 3px solid #dcdbdb;
    margin: 8px 0px 8px 12px;
  }
  .logo-filtre {
    font-size: 17px;
    width: 41px;
    height: 31px;
    padding-top: 14px;
  }
  .btn-filtre > i {
    margin: -3px;
  }
  .search small {
    font-size: 18px;
    margin-left: 12px;
  }
  /*
  .all-info > i {
    display: block;
  } */
  .container {
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  /* POPULAIRE */
  aside {
    border-radius: 0px;
    width: 100%;
  }

  .fa-chart-line {
    margin-top: 15px;
  }
  .aside-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    margin: auto;
  }
  .card-aside {
    margin-bottom: 10px;
  }
  .all-sections-cards-aside {
    width: 90%;
  }
  .section-hebergements {
    background-color: white;
    padding: 0;
  }
  .section-top {
    margin-left: 10px;
  }

  .all-sections-cards {
    flex-direction: column;
  }
  .all-hebergements {
    width: 100%;
  }
  .herbergement-column {
    width: 100%;
  }
  .section-content {
    margin: 0 10px;
  }
  .card-section {
    margin-bottom: 10px;
  }

  .activite-section {
    width: 90%;
    margin: auto;
    margin-top: 20px;
  }
  .activite-section h1 {
    margin-bottom: 15px;
    height: 100%;
  }
  .all-activity-cards {
    display: inline-block;
  }
  .card-section {
    width: 100%;
  }
  .column-activity-1 {
    width: 100%;
    height: 50%;
  }
  .column-activity-2 {
    width: 100%;
  }
  .column-activity-3 {
    width: 100%;
    height: 50%;
  }
  .column-activity-4 {
    width: 100%;
  }
  /* 1st activity */
  .container-port {
    height: 100%;
    margin-bottom: 15px;
  }
  /* 2nd activity */
  .container-fort {
    height: 100%;
    margin-bottom: 15px;
  }
  /* 3rd activity */
  .container-frioul {
    height: 100%;
    margin-bottom: 15px;
  }
  /* 4th activity */
  .container-calanques {
    height: 100%;
    margin-bottom: 15px;
  }
  /* 5th activity */
  .container-ND {
    height: 100%;
    margin-bottom: 15px;
  }
  /* 6th activity */
  .container-longchamp {
    height: 100%;
    margin-bottom: 15px;
  }
  footer {
    flex-direction: column;
  }
  .footer-category {
    padding: 10px 0 0 0;
  }
}
